.background-container {
    position: relative;
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.background {
    width: 100%;
    height: auto;
}

.container {
    position: absolute;
    top: 10%;
    left: 6%;
    margin: 20px;
    display: flex;
    align-items: center;
}

.trinkle {
    width: auto;
    height: 50px;
    margin-right: 20px;
}

.trafico {
    color: #FFFFFF;
    font-size: 32px;
    margin: 0;
}

.about,
.how,
.faqs {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
}

.contact {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    background-color: #EE4D47;
    padding: 15px 30px;
    border-radius: 10px;
}

.info {
    gap: 50px;
    justify-content: flex-start;
    padding-left: 300px;
    left: 50px;

}

.info a {
    padding: 10px 20px;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 15px;
}

.info a:hover {
    color: darkblue;
}

.info a:active {
    color: black;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:wght@400&display=swap');

.text-container {
    position: absolute;
    top: 30%;
    left: 7%;
    width: 700px;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    box-sizing: border-box;
    z-index: 10;
}

.your {
    color: #FFFFFF;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 70px;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.start {
    color: #FFFFFF;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    background-color: #EE4D47;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: -60px;
    display: inline-block;
}

.start:hover {
    background-color: #d43f3a;
}

.start:active {
    background-color: #b53630;
}

.car {
    width: 45%;
    height: auto;
    margin-left: -230px;
    margin-top: -13%;
    position: absolute;
    z-index: 20;
    transition: transform 2s ease-in-out;
}

@keyframes move-right {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100vw);
    }
}

.car.animating {
    animation: move-right 2s linear forwards;
}