body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

footer {
  
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

.tree-images img {
  width: 150px;
  height: auto;
  margin: 10px;
}

.srch {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.srt-select {
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1em;
}

.trees-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tree-item {
  width: 200px;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.tree-item:hover {
  transform: scale(1.05);
}

.tree-page {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
}

.view-button {
  background-color: #4CAF50;
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 5px;
}

.view-button:hover {
  background-color: #45a049;
}

.back-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #EE4D47;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #d9433f;
}

.tree-img {
  width: 180px;
  height: auto;
}